
<div id="post-list-app">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>
					<div class="col-md-4">
						<span>帖子列表</span>
					</div>
					<div class="col-md-4">
						<form class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" v-model="keyword">
							</div>
							<a class="btn btn-default" @click="doSearch">Search</a>
						</form>
					</div>
					<div class="btn-group col-md-4" role="group" aria-label="...">
						<button type="button" class="btn btn-primary btn-add" @click="doEdited">添加</button>
						<button type="button" class="btn btn-default btn-update">更新</button>
						<button type="button" class="btn btn-danger btn-delete"
							@click="doDeleteObject">删除</button>
					</div>
				</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>
								<!--全选按钮--> <input type="checkbox" id="checkAll"
								v-model="checked" @click="checkedAll" />
							</th>
							<th>id</th>
							<th>标题</th>
							<th>内容</th>
							<th>封面</th>
							<th>类别</th>
							<th>发布者</th>
							<th>发布时间</th>
							<th>修改时间</th>
						</tr>
					</thead>
					<tbody id="tbodyId" v-for="row in rows">
						<tr>
							<td><input type="checkbox" v-model="checkboxList"
								:value="row.id"></td>
							<td>{{ row.id }}</td>
							<td class="my-td">{{ row.title }}</td>
							<td class="my-td">{{ row.content }}</td>
							<td class="my-td">{{ row.cover }}</td>
							<td>{{ row.typeId }}</td>
							<td>{{ row.userId }}</td>
							<td>{{ row.createdTime }}</td>
							<td>{{ row.updatedTime }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<page-component :page-info="pageInfo"></page-component>
		</div>
	</div>
	<div class="container-fluid">
		<modal-dialog :show.sync="show" :class="dialogClass">
			<header class="my-dialog-header" slot="header">
				<h1 class="my-dialog-title">提示信息</h1>
			</header>
	
			<div class="my-dialog-body" slot="body">
				<p>{{ message }}</p>
			</div>
	
			<footer class="my-dialog-footer" slot="footer">
				<button @click="closeDialog" class="my-button">关闭</button>
			</footer> 
		</modal-dialog>
	</div>
</div>
<script>
    var postApp = new Vue({
        el: "#post-list-app",
        data: function() {
            return {
                rows: [],
                pageInfo: {},
                checkboxList: [],
                checked: false,
                keyword: "",
                message: "",
                show: false,
                dialogClass: 'my-dialog-info',
                title: "添加帖子",
            }
        },
        mounted: function() {
            Vue.set(this.pageInfo, "pageCurrent", 1);
            this.doGetObject();
        },
        methods: {
            openDialog: function(dialogClass) {
                this.show = true;
                this.dialogClass = dialogClass;
            },
            closeDialog: function() {
                this.show = false;
            },
            doEdited: function(dialogClass) {
            	$('#mainContentId').load('/post/post_edit');
            },
            doDeleteObject: function() {
                if (this.checkboxList.length == 0) {
                    this.message = "请先选中！";
                    this.openDialog("my-dialog-info");
                    return;
                }
                if (!confirm("是否确认删除？")) {
                    return;
                }
                var url = "/post/doDeleteObjects";
                var params = {
                    ids: this.checkboxList,
                };
                //console.log(params);
                axios.post(url, Qs.stringify(params, {
                        indices: false
                    }))
                    .then((response) => {
                        //console.log(response);
                        this.message = response.data.message;
                        if (response.data.state == 0) {
                            this.openDialog("my-dialog-error");
                            return;
                        }
                        this.openDialog("my-dialog-info");
                        var pageCurrent = this.pageInfo.pageCurrent;
                        if (this.checked && pageCurrent <= 1) {
                            this.message = "没有数据";
                            this.openDialog("my-dialog-error");
                            this.rows = [];
                            Vue.set(this.pageInfo, "pageCurrent", 1);
                            Vue.set(this.pageInfo, "pageCount", 0);
                            Vue.set(this.pageInfo, "rowCount", 0);
                        }
                        this.pageInfo.pageCurrent -= 1;
                        this.doGetObject();
                        Vue.set(this, "checked", false);
                    })
                    .catch((error) => {
                        this.message = error;
                        this.openDialog("my-dialog-error");
                    });
            },
            checkedAll: function() {
                if (this.checked) { //实现反选
                    this.checkboxList = [];
                } else { //实现全选
                    this.checkboxList = [];
                    this.rows.forEach((row) => {
                        this.checkboxList.push(row.id);
                    });
                }
            },
            doSearch: function() {
                //console.log(this.keyword);
                Vue.set(this.pageInfo, "pageCurrent", 1);
                this.doGetObject();
            },
            doGetObject: function() {
                var url = "/post/doGetPageObject/" + this.pageInfo.pageCurrent + "?keyword=" + this.keyword;
                axios.get(url)
                    .then((response) => {
                        //console.log(response);
                        var result = response.data;
                        //console.log(response.data);
                        if (result.state == 0) {
                            this.message = result.message;
                            this.openDialog("my-dialog-error");
                            return;
                        }
                        var data = result.data;
                        Vue.set(this.pageInfo, "pageCurrent", data.pageCurrent);
                        Vue.set(this.pageInfo, "pageCount", data.pageCount);
                        Vue.set(this.pageInfo, "rowCount", data.rowCount);
                        this.rows = [];
                        data.records.forEach((row) => {
                            this.rows.push(row);
                        });
                    })
                    .catch((error) => {
                        this.message = error;
                        this.openDialog("my-dialog-error");
                        Vue.set(this.pageInfo, "pageCurrent", 1);
                        Vue.set(this.pageInfo, "pageCount", 0);
                        Vue.set(this.pageInfo, "rowCount", 0);
                    });
            },
           submit:function(){
        	   this.edited = false;
           }
        },
        watch: { //深度 watcher
            checkboxList: {
                handler: function(val, oldVal) {
                    if (this.checkboxList.length === this.rows.length) {
                        this.checked = true;
                    } else {
                        this.checked = false;
                    }
                },
                deep: true
            }
        },
        computed: {},
        components: {
        	
        },
    });
</script>