<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span>帖子列表</span>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary btn-add">添加</button>
                    <button type="button" class="btn btn-default btn-update">更新</button>
                    <button type="button" class="btn btn-danger btn-delete">删除</button>
                </div>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll" />
                        </th>
                        <th>id</th>
                        <th>标题</th>
                        <th>内容</th>
                        <th>封面</th>
                        <th>类别</th>
                        <th>发布者</th>
                        <th>发布时间</th>
                        <th>修改时间</th>
                    </tr>
                </thead>
                <tbody id="tbodyId">

                </tbody>
            </table>
        </div>
    </div>
	<div class="row">
		<div id="pageId">
		
		</div>
	</div>
</div>
<script>
    $(function() {
    	$("#pageId").load("/common/page");
        //初始化数据
        doGetObjects();
        //工具按钮事件注册
        $('.btn-group')
        	.on('click','.btn-add,.btn-update',doLoadEditUI)
        	.on('click','.btn-delete',doDeleteObjects);
        //搜索按钮事件注册
        $("#search").on("click", doQueryObjects);
        //全选按钮事件注册
        $("#checkAll").change(doChangeTBodyCheckBoxState);
        //基于tbody中checkbox状态,修改thead中checkbox状态
        $("#tbodyId").on("change", ".cBox", doChangeTHeadCheckBoxState);
    });
	//搜索功能
    function doQueryObjects() {
        $("#pageId").data("pageCurrent", 1);
        doGetObjects();
    }
    //异步加载服务端数据
    function doGetObjects() {
        //$("#checkAll").prop("checked",false);
        //1.定义请求参数
        var pageCurrent = $("#pageId").data("pageCurrent");
        if (!pageCurrent) {
            pageCurrent = 1;
        };
        var keyword = $("#keyword").val();
        if (!keyword) {
            keyword = "";
        };
        var params = {
            "pageCurrent": pageCurrent,
            "keyword": keyword,
        };
        //2.定义请求的url
        var url = "/post/doFindPageObjects";
        //3.发起请求
        $.getJSON(url, params, function(result) { //JsonResult
            //console.log("result", result);
            //4.处理查询结果
            doHandleResponseResult(result);
        });
    }
    //处理查询结果
    function doHandleResponseResult(result) {
        if (result.state == 1) {
            //1.呈现日志记录
            doSetTableBodyRows(result.data.records);
            //2.呈现分页信息
            doSetPagination(result.data); //PageObject
        } else {
            alert(result.message);
        }
    }
    //追加列表到tbody中
    function doSetTableBodyRows(records) {
        var tBody = $("#tbodyId");
        tBody.empty();
        for (var i = 0; i < records.length; i++) {
            var tr = $("<tr></tr>");
            var tds = doCreateTds(records[i]);
            tr.append(tds);
            tBody.append(tr);
        }
    }
    //创建数据行
    function doCreateTds(row) {
        var tds = "<td><input type='checkbox' class='cBox' value='" + row.id + "'/></td>" +
            "<td>" + row.id + "</td>" +
            "<td style='max-width: 150px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap'>" + row.title + "</td>" +
            "<td style='max-width: 150px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap'>" + row.content + "</td>" +
            "<td style='max-width: 150px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap'>" + row.cover + "</td>" +
            "<td>" + row.typeId + "</td>" +
            "<td>" + row.userId + "</td>" +
            "<td>" + row.createdTime + "</td>" +
            "<td>" + row.updatedTime + "</td>";
        return tds;
    }
    //基于tbody中checkbox状态,修改thead中checkbox状态
    function doChangeTHeadCheckBoxState() {
        //1.获取tbody中checbox对象状态相与的结果
        var flag = true;
        $("#tbodyId input[type='checkbox']").each(function() {
                flag = flag && $(this).prop("checked");
            })
            //2.修改thead中checkbox的值
        $("#checkAll").prop("checked", flag);
    }
    //点击thead中checkbox时,修改tbody中checkbox的状态
    function doChangeTBodyCheckBoxState() {
        //1.获取点击对象的状态
        var flag = $(this).prop("checked");
        //2.修改tbody中checkbox的状态
        $("#tbodyId input[type='checkbox']").each(function() {
            //prop方法中两个参数时表示为属性赋值
            $(this).prop("checked", flag);
        })
    }

    function doGetCheckedIds() {
        //1.定义数组
        var idArray = [];
        //2.迭代所有tbody中的checkbox,将选中的值存储到数组
        $("#tbodyId input[type='checkbox']").each(function() {
            //记住所有checkbox默认都有一个checked属性
            if ($(this).prop("checked")) { //选中状态
                idArray.push($(this).val());
            }
        });
        //3.返回存储了id的数组
        return idArray;
    }

    //点击删除按钮时执行删除操作
    function doDeleteObjects() {
        var idArray = doGetCheckedIds();
        if(idArray.length == 0){
        	alert("请先选中");
        	return;
        }
        if (!confirm("是否确认删除？")) {
            return;
        }
        //2.构建请求参数
        var params = {
            "ids": idArray.toString(),
        };
        //3.构建请求url
        var url = "/post/doDeleteObjects";
        //4.发送异步请求执行删除操作.
        $.post(url, params, function(result) {
            if (result.state == 1) {
                alert(result.message);
                //查询刷新
                doSetPageCurrent();
                doGetObjects();
            } else {
                alert(result.message);
            }
        })
    }
    //删除以后刷新
    function doSetPageCurrent() {
        var pageCount = $("#pageId").data("pageCount");
        var pageCurrent = $("#pageId").data("pageCurrent");
        var checked = $("#checkAll").prop("checked");
        if (pageCurrent == pageCount && checked && pageCurrent > 1) {
            pageCurrent--;
            $("#pageId").data("pageCurrent", pageCurrent);
        }
    }
    //判断加载添加/更新数据页面
    function doLoadEditUI() {
        //1.判定点击的对象
        var title;
        if ($(this).hasClass("btn-add")) {
            title = "添加贴子";
            doLoadPage(title);
        } else if ($(this).hasClass("btn-update")) {
            title = "修改贴子";
            var id = doGetFirstCheckedId();
            console.log(id);
            if (!id) {
                alert("请先选择");
                return;
            }
            //基于id进行查询并加载编辑页面
            doGetObjectById(id, title);
        }
    }
    function doGetObjectById(id,title){
    	var url = "/post/doGetObjectById";
    	var params = {
    		id:id,
    	};
    	$.getJSON(url,params,function(result){
    		if(result.state == 1){
    			$("#mainContentId").data("rowData",result.data);
    			doLoadPage(title);
    		}else{
    			alert(result.message);
    		}
    	});
    }
	//加载编辑页面
    function doLoadPage(title) {
        var url = "/post/post_edit";
        $("#mainContentId").load(url, function() {
            $(".panel-title").html(title);
        })
    }
    //迭代所有tbody中的checkbox，将第一个选中的值返回
    function doGetFirstCheckedId() {
    	var id;
        $("#tbodyId input[type='checkbox']").each(function() {
            if ($(this).prop("checked")) { //选中状态
            	id = $(this).val();
                return;
            }
        });
        return id;
    }
</script>