<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="/browser-components/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../browser-components/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../browser-components/own-components/css/mycss.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FORUM</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">后台管理 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">返回社区</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li id="post-page"><a href="#">贴子管理</a></li>
                            <li id="comment-page"><a href="#">回复管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li id="user-page"><a href="#">用户管理</a></li>
                            <li id="group-page"><a href="#">用户组管理</a></li>
                            <li id="permission-page"><a href="#">权限管理</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- 
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Keyword" id="keyword">
                    </div>
                    <a class="btn btn-default" id="search">Search</a>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        	<span class="avatar"></span>
                        	<span class="username"></span>
                        	<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">修改密码</a></li>
                            <li><a href="/doLogout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="mainContentId">

    </div>
    <!-- jQuery -->
    <script src="/browser-components/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/browser-components/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/browser-components/vue/vue-2.5.16.js"></script>
    <script src="/browser-components/vue/axios/axios.min.js"></script>
    <script src="/browser-components/vue/qs/qs.min.js"></script>
    
    <script>
        $(function() {
        	//doGetLoginUser();
            $("#mainContentId").load("/post/post_list");
            loadPage('user-page','/user/user_list');
            loadPage('post-page','/post/post_list');
        });
        function loadPage(id,url){
        	$('#'+id).on('click',function(){
        		$('#mainContentId').load(url);
        	});
        }
        function doGetLoginUser(){
        	var url = "/user/doGetLoginUser";
			$.get(url,function(result){
				if(result.state == 1){
					doHandleResult(result.data);
				}else{
					alert(result.message);
				}
			})
        }
        function doHandleResult(user){
        	if(user && user.username){
            	$('.username').html(user.username);
            	$('.avatar').html('<img src="' + user.avatar + '" class="img-circle" style="width:50px;height:50px;">');
        	}
        }
    </script>
    <template id="page-template">
    	<div class="container" id="page-app">
	        <nav aria-label="Page navigation">
	            <ul class="pagination">
	                <li class="pre-page" @click="prePage">
	                    <a href="javascript:;" aria-label="Previous">
	                        <span aria-hidden="true">&laquo;</span>
	                    </a>
	                </li>
	                <li class="first-page" @click="firstPage"><a href="javascript:;">首页</a></li>
	                <li><a href="javascript:;" class="pageCurrent">当前页({{ pageInfo.pageCurrent }})</a></li>
	                <li><a href="javascript:;" class="pageCount">总页数({{pageInfo.pageCount}})</a></li>
	                <li><a href="javascript:;" class="rowCount">总行数({{pageInfo.rowCount}})</a></li>
	                <li class="last-page" @click="lastPage"><a href="javascript:;">尾页</a></li>
	                <li class="last-page" @click="nextPage">
	                    <a href="javascript:;" aria-label="Next">
	                        <span aria-hidden="true">&raquo;</span>
	                    </a>
	                </li>
	            </ul>
	        </nav>
	    </div>
    </template>
    <script>
	    var pageComponent = Vue.extend({
			template: '#page-template',
			props: {
	            pageInfo: Object,
	        },
	        methods: {
	        	prePage: function(){
	        		var pageCurrent = this.pageInfo.pageCurrent;
	        		var pageCount = this.pageInfo.pageCount;
	        		if(pageCurrent <= 1){
	        			return;
	        		}
	        		this.pageInfo.pageCurrent -= 1;
	        		this.$parent.doGetObject();
	        	},
	        	nextPage: function(){
	        		var pageCurrent = this.pageInfo.pageCurrent;
	        		var pageCount = this.pageInfo.pageCount;
	        		if(pageCurrent >= pageCount){
	        			return;
	        		}
	        		this.pageInfo.pageCurrent += 1;
	        		this.$parent.doGetObject();
	        	},
	        	firstPage: function(){
	        		Vue.set(this.pageInfo, "pageCurrent", 1);
	        		this.$parent.doGetObject();
	        	},
	        	lastPage: function(){
	        		Vue.set(this.pageInfo, "pageCurrent", this.pageInfo.pageCount);
	        		this.$parent.doGetObject();
	        	}
	        }
		});
		Vue.component("page-component",pageComponent);
    </script>
    
    <template id="dialog-template">
		<div class="my-dialogs">
			<div class="my-dialog" v-bind:class="{ 'my-dialog-active': show }">
				<div class="my-dialog-content">
					<div class="my-close my-rotate">
						<span class="my-icon-close" @click="close"><i class="my-iconfont fa fa-close"></i></span>
					</div>
					<slot name="header"></slot>
					<slot name="body"></slot>
					<slot name="footer"></slot>
				</div>
			</div>
			<div class="my-dialog-overlay"></div>
		</div>
	</template>
    <script>
		var modelDialog = Vue.extend({
			template: '#dialog-template',
			props: ['show'],
			data(){
				return{
					initShow: this.show,
				}
			},
			methods: {
				close: function() {
					this.initShow = false;
					this.$emit('update:show', this.initShow);
				}
			}
		});
		Vue.component('modal-dialog', modelDialog);
    </script>
</body>

</html>