<div class="container">
	<nav aria-label="Page navigation">
	    <ul class="pagination">
	        <li class="pre-page">
	            <a href="javascript:;" aria-label="Previous">
	                <span aria-hidden="true">&laquo;</span>
	            </a>
	        </li>
	        <li class="first-page"><a href="javascript:;">首页</a></li>
	        <li><a href="javascript:;" class="pageCurrent">当前页(1)</a></li>
	        <li><a href="javascript:;" class="pageCount">总页数(0)</a></li>
	        <li><a href="javascript:;" class="rowCount">总行数(0)</a></li>
	        <li class="last-page"><a href="javascript:;">尾页</a></li>
	        <li class="last-page">
	            <a href="javascript:;" aria-label="Next">
	                <span aria-hidden="true">&raquo;</span>
	            </a>
	        </li>
	    </ul>
	</nav>
</div>
<script>
    $(function() {
        //注册事件
        $("#pageId").on("click", ".pre-page,.next-page,.first-page,.last-page", doJumpToPage);
    });
    //显示页面参数函数
    function doSetPagination(pageObject) {
        //设置其他页面获取的page数据
        $(".pageCurrent").html("当前页(" + pageObject.pageCurrent + ")");
        $(".pageCount").html("总页数(" + pageObject.pageCount + ")");
        $(".rowCount").html("总行数(" + pageObject.rowCount + ")");
        //绑定新的当前页和总页数
        $("#pageId").data("pageCurrent", pageObject.pageCurrent);
        $("#pageId").data("pageCount", pageObject.pageCount);
    }
    //翻页函数
    function doJumpToPage() {
        //1.获取点击按钮类名
        var clsName = $(this).prop("class");
        //2.获取页面数据
        var pageCurrent = $("#pageId").data("pageCurrent");
        var pageCount = $("#pageId").data("pageCount");
        //3.改变页号
        if (clsName.indexOf("pre-page") != -1 && pageCurrent > 1) {
            pageCurrent--;
        } else if (clsName.indexOf("next-page") != -1 && pageCurrent < pageCount) {
            pageCurrent++;
        } else if (clsName.indexOf("first-page") != -1) {
            pageCurrent = 1;
        } else if (clsName.indexOf("last-page") != -1) {
            pageCurrent = pageCount;
        } else {
            return;
        }
        //4.重新绑定数据
        $("#pageId").data("pageCurrent", pageCurrent);
        //5.重新获取数据
        doGetObjects();
    }
</script>